body {
   background-color: lightblue;   
}
nav {
   background-color: yellow;
}
aside {
   background-color: green;
}
footer {
   background-color: blue;
}
section {
   background-color: lightcoral;
}
